# Ignore any directory whose name ends with " - Clase" or " - ClaseGuia"
**/* - Clase/
**/* - ClaseGuia/
**/* - Clase Guía/
**/Slides_*
**/Material_*
**/Ejercicios_*
**/Soluciones_*
**/Tareas_*
**/Examenes_*
**/Proyectos_*
**/Recursos_*
**/Notas_*
**/Apuntes_*
**/Presentaciones_*
**/Docs_*
**/Documentos_*
